.dd{
    border: 5px solid black;
    width: 100%;
    height: 100%;

}
.chass{
   
    padding-bottom: 135px;
    width: 12.25%;
    height: 10px;
    display:inline-block;
    background: #000;
    
}
.chass2{
   
    width: 12.25%;
    height: 10px;
    display:inline-block;
    padding-bottom: 135px;
    background: #ffffff;
    
}
.mm{
    width: 100%;
    
}
img{
    object-fit:fill;
}
